.animatedText {
  overflow: hidden;
}

.letter {
  display: inline-block;
}

.word-text {
  font-size: 2.4rem;
  font-family: "ClashDisplay";

  text-align: justify;
}

.word {
  display: inline-block;
  white-space: pre-wrap;
  overflow: hidden;
}
