/*! Fonts */

/** Wild World */
@font-face {
  font-family: "WildWorld";
  src: url("./assets/fonts/WildWorld.otf") format("truetype");
  font-weight: 300;
}

/** Clash Display */
@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplayExtralight.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplayLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplayRegular.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplayMedium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplaySemibold.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplayBold.ttf") format("truetype");
  font-weight: 600;
}

/*! Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "ClashDisplay", sans-serif;
}

::-webkit-scrollbar {
  padding: 1rem;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4e4e4e;
}
